* {
  @apply border-neutral-600 lg:border-white hover:border-[#ff0000];
}

.room {
  position: relative;
  @apply sm:w-2/3 md:w-1/2 lg:w-auto;
  /* width: 50vw;
  height: 50vh; */
}

@media (min-width: 1024px) {
  .room {
    transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg);
    transform-style: preserve-3d;
  }
  .wall {
    max-height: 300px;
    max-width: 400px;
    transform: rotate3d(1, 0, 0, 90deg) translate3d(0, 300px, 300px);
  }
  .floor {
    max-height: 400px;
    max-width: 400px;
  }
  .blogtile {
    transform: rotate(90deg);
  }
  .projectLabel {
    transform: rotateX(90deg) rotateY(90deg) translate3d(-300px, 300px, 400px);
  }
  .wall.right {
    transform: rotateX(90deg) rotateY(90deg) translate3d(-300px, 300px, 400px);
  }
  .wall-content {
    transform: rotate3d(1, 0, 0, 180deg);
  }
}

.floor {
  width: 100%;
}

.wall {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform-origin: 0 100%;
  @apply relative lg:absolute;
  /* backdrop-filter: blur(1px); */
}

.wall-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100%;
}

.tile {
  @apply border hover:bg-black bg-transparent hover:text-[#ff0000] p-4 font-mono lg:font-semibold hover:underline hover:underline-offset-8;
}

.tile:hover {
  /* transform: translateY(-10px); */
  transition: transform 0.3s ease-in-out;
  @apply shadow-lg;
}

.icon {
  @apply text-4xl lg:text-6xl;
}
